<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
      .topnav {
        overflow: hidden;
        background-color: #333;
      }
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      .topnav a.active {
        background-color: #04AA6D;
        color: white;
      }
      .topnav-right {
        float: right;
      }
      .footer {
        position:fixed;
        left: 0;
        width: 100%;
        padding: 40px;
        bottom: 0px;

        background-color: red;
        color: white;
        text-align: center;
      }
      .row{
        display: flex;
      }
      #devices {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      #devices td, #devices th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      #devices tr:nth-child(even){background-color: #f2f2f2;}

      #devices tr:hover {background-color: #ddd;}

      #devices th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <%if(account.username){ %>
        <div class="topnav-right">
          <a href="/console/">Console</a>
          <a href="/account/"><%=account.username %></a>
        </div>
      <%}%>
    </div>
    <form class="" action="/console/" method="get">
      <input type="text" name="search" placeholder="Search Device">
      <input type="submit" value="Search">
    </form>
    <%if(group){%>
      <table id="devices">
        <tr>
          <td>Device ID</td>
          <td>Name</td>
          <td>Group</td>
        </tr>
        <%for (var i=0;i<group.Devices.length;i++){%>
          <tr>
            <td>#<%=group.Devices[i].deviceID%></td>
            <td><a href="/console/?device=<%=group.Devices[i].deviceID%>"><%=group.Devices[i].deviceName%></a></td>
            <td><%=group.groupID%></td>
          </tr>
          <%}%>
        </table>
    <%}%>
    <%if(deviceFound){%>
      <table id="devices">
        <tr>
          <td>Device ID</td>
          <td>Name</td>
          <td>Group</td>
        </tr>
        <%for (var i=0;i<deviceFound.length;i++){%>
          <tr>
            <td>#<%=deviceFound[i].deviceID%></td>
            <td><a href="/console/?device=<%=deviceFound[i].deviceID%>"><%=deviceFound[i].deviceName%></a></td>
            <td><%=account.Group.groupID%></td>
          </tr>
          <%}%>
        </table>
    <%}%>
    </div>
    <form class="" action="/console/" method="post">
      <input type="text" name="device" placeholder="Device">
      <input type="submit" value="Add">
    </form>
    <div class="footer">
      <h1>ciao</h1>
    </div>
  </body>
</html>
