<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(function() {
        $("td[colspan=3]").find("div").hide();
        $("tr").click(function(event) {
            var $target = $(event.target);
            $target.closest("tr").next().find("div").slideToggle();
        });
      });
    </script>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
    <style>
      #map { position:absolute; top: 50%; bottom: 0; width: 40%; height: 30%}
    </style>
    <style>
      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }
      .topnav {
        overflow: hidden;
        background-color: #333;
      }
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      .topnav a.active {
        background-color: #04AA6D;
        color: white;
      }
      .topnav-right {
        float: right;
      }
      .footer {
        position:fixed;
        left: 0;
        width: 100%;
        padding: 40px;
        bottom: 0px;

        background-color: red;
        color: white;
        text-align: center;
      }
      .row{
        display: flex;
      }
      #devices {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      #devices td, #devices th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      #expand td{
        padding: 0px;
      }
      #devices tr:nth-child(even){background-color: #f2f2f2;}

      #devices tr:hover {background-color: #ddd;}

      #devices th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
      }
      .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <% var devicesLocation = [] %>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <%if(account.username){ %>
        <div class="topnav-right">
          <a href="/console/">Console</a>
          <a href="/account/"><%=account.username %></a>
          <a href="/group"><%=account.Group.groupName%></a>
        </div>
      <%}%>
    </div>
    <form class="" action="/console/" method="get">
      <input type="text" name="search" placeholder="Search Device">
      <input type="submit" value="Search">
    </form>
    <%if(group){%>
      <table id="devices">
        <tr>
          <td>Device ID</td>
          <td>Name</td>
          <td>Group</td>
        </tr>
        <%for (var i=0;i<group.Devices.length;i++){%>
          <%if(group.Devices[i].lastData.lat){
            var data = {
            'type': 'Feature',
            'properties':{
              'description':group.Devices[i].deviceName
            },
            'geometry': {
              'type': 'Point',
              'coordinates': [
                group.Devices[i].lastData.lon,group.Devices[i].lastData.lat
              ]
            },
            'properties': {
              'title': group.Devices[i].deviceName
            }
          };
            devicesLocation.push(data)};%>

          <tr>
            <td>#<%=group.Devices[i].deviceID%></td>
            <td><a href="/console/?device=<%=group.Devices[i].deviceID%>"><%=group.Devices[i].deviceName%></a></td>
            <td><%=group.groupID%></td>
          </tr>
          <tr id="expand">
            <td colspan="3">
              <div>
                <p><%=group.Devices[i].lastData.lat%></p>
                <p><%=group.Devices[i].lastData.lon%></p>
                <p><%=group.Devices[i].lastData.stat%></p>
              </div>
            </td>
          </tr>
        <%}%>
      </table>
    <%}%>
    <%if(deviceFound){%>
      <table id="devices">
        <tr>
          <td>Device ID</td>
          <td>Name</td>
          <td>Group</td>
        </tr>
        <%for (var i=0;i<deviceFound.length;i++){%>
          <tr>
            <td>#<%=deviceFound[i].deviceID%></td>
            <td><a href="/console/?device=<%=deviceFound[i].deviceID%>"><%=deviceFound[i].deviceName%></a></td>
            <td><%=account.Group.groupID%></td>
          </tr>
          <tr id="expand">
            <td colspan="3">
              <div>
                <p><%=deviceFound[i].lastData.lat%></p>
                <p><%=deviceFound[i].lastData.lon%></p>
                <p><%=deviceFound[i].lastData.stat%></p>
              </div>
            </td>
          </tr>
          <%}%>
        </table>
    <%}%>
    </div>
    <%if(account.Group.groupRole == "CREATOR" || account.Group.groupRole == "ADMIN"){%>
      <form class="" action="/console/" method="post">
        <input type="text" name="device" placeholder="Device">
        <input type="submit" value="Add">
      </form>
    <%}%>
    <div id="map"></div>
    <script>
      	// TO MAKE THE MAP APPEAR YOU MUST
      	// ADD YOUR ACCESS TOKEN FROM
      	// https://account.mapbox.com
      mapboxgl.accessToken = 'pk.eyJ1IjoiYmhhY2tmb3giLCJhIjoiY2tzbHc2b3VtMDkxYTJ1cDB0Yzhuc3M3YiJ9.ZK09ZaAk7SpqDkuz2D6MLg';
      const map = new mapboxgl.Map({
      container: 'map', // container ID
      style: 'mapbox://styles/mapbox/streets-v11', // style URL
      center: [12.4964, 41.9028], // starting position [lng, lat]
      zoom: 5 // starting zoom
      });

      map.on('load', () => {
// Add an image to use as a custom marker
        map.loadImage(
          '/icon/mapbox-marker-icon-20px-green.png',
          (error, image) => {
            if (error) throw error;
            map.addImage('custom-marker', image);
            // Add a GeoJSON source with 2 points
            map.addSource('points', {
              'type': 'geojson',
              'data': {
                'type': 'FeatureCollection',
                'features': <%-JSON.stringify(devicesLocation)%>
              }
            });

            // Add a symbol layer
            map.addLayer({
              'id': 'points',
              'type': 'symbol',
              'source': 'points',
              'layout': {
                'icon-image': 'custom-marker',
              // get the title name from the source's "title" property
                'text-field': ['get', 'title'],
                'text-font': [
                    'Open Sans Semibold',
                    'Arial Unicode MS Bold'
                ],
                'text-offset': [0, 1.25],
                'text-anchor': 'top'
              }
            });
          }
        );
        const popup = new mapboxgl.Popup({
          closeButton: false,
          closeOnClick: false
        });
        map.on('mouseenter', 'places', (e) => {
          // Change the cursor style as a UI indicator.
          map.getCanvas().style.cursor = 'pointer';

          // Copy coordinates array.
          const coordinates = e.features[0].geometry.coordinates.slice();
          const description = e.features[0].properties.description;

          // Ensure that if the map is zoomed out such that multiple
          // copies of the feature are visible, the popup appears
          // over the copy being pointed to.
          while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
          }

          // Populate the popup and set its coordinates
          // based on the feature found.
          popup.setLngLat(coordinates).setHTML(description).addTo(map);
        });

        map.on('mouseleave', 'places', () => {
          map.getCanvas().style.cursor = '';
          popup.remove();
        });
      });

    </script>
    <div class="footer">

    </div>
  </body>
</html>
